# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
backend/
Lib/
Scripts/
pyvenv.cfg

# Environment Variables
.env
.env.example

# IDE Files
.vscode/
*.swp

# Docker
*.log
docker-compose.override.yml

# Miscellaneous
.DS_Store
*.bak
*.tmp